* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    position: relative;
}

.extra-space-bottom {
    padding-bottom: 5rem;
}

.extra-space-top {
    padding-top: 3rem;
}

@media (max-width: 575px) {
    .extra-space-top {
        padding-top: 6rem;
    }
  }
/** nabar **/
#navbarNav {
    font-size: 1.6rem;
    padding: 0.5em 0;
}

.navbar-language {
    font-size: 1.6rem;
    padding: 0.1rem 0.3em;
}

.navbar-brand {
    font-size: 2.2rem;
    letter-spacing: 0.100em;
}

.dropdown-item {
    font-size: 1.6rem;
}
/** end of nabar **/
/** Carousel**/

.carousel-item {
    position: relative;
    height: 600px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.carousel-img-one {
    background-image: url(../../public/img/carousel-item-1.jpg);
    background-size: cover;
}

.carousel-img-two {
    background-image: url(../../public/img/carousel-item-2.jpg);
    background-size: cover;
}

.carousel-img-three {
    background-image: url(../../public/img/carousel-item-3.jpg);
    background-size: cover;
}

.carousel-text {
    font-size: 1.8rem;
    font-weight: bold;
}

/** end of Carousel**/
.under-line {
    position: relative;
}

.under-line::after {
    content: '';    
    position: absolute;
    border-bottom: 0.4rem solid black;
    width: 50%;
    left: 25%;
}

/** cards **/
.cards-logo {
    padding-top: 1rem;
    font-size: 6rem;
}

#cards {
    padding: 20px 0px;
}
/** end of cards **/

/** skills **/
#skills {
    background-color: rgba(211, 211, 211, 0.180);
    padding: 20px 0px;
}

.skills-head {
    padding: 1rem 0rem;
    font-size: 4rem;
    font-weight: bold;
}

/** end of skills **/

/** passion **/
#passions {
    padding-top: 20px;
    margin-bottom: 15rem;
}

.passions-head {
    padding-top: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

.passions-conntent {
    padding-top: 4rem;
}

.passions-icon {
    font-size: 2.5rem;
    margin: 0.5rem;
}
/** end of passion **/
/** footer **/
#footer-main {
    height: 4rem;
}

.footer-icon {
    font-size: 2.5rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
}
/** end offooter **/