{% extends "base.html.twig" %}
{% block body %}

<footer id="footer-main" class="text-light bg-dark">
    <div class="container">
        <div class="row">
            <div id="footer-left-section"class="col-6 align-self-center">Created by Termi</div>
            <div id="footer-right-section" class="col-6 d-flex justify-content-end align-items-center">
                Znajdziejsz mnie również tutaj
               <a href="https://www.linkedin.com/in/andrzej-soko%C5%82owski-4412b9194/" target="_blank"><i class="fab fa-linkedin footer-icon"></i></a>
            </div>
        </div>
    </div>
</footer>
    
{% endblock %}