{% extends "nav.html.twig" %}

{% block title %}{% trans %}project.tittle{% endtrans %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    {{ parent() }}

<section class="container project-content">
    <div class="row" style="padding:25% 25%; height:100vh;">
        <div class="col d-flex justify-content-center">                 
        </div>
    </div>
</section>

{% include 'footer.html.twig' %}
{% endblock %}