{% extends "nav.html.twig" %}
        {% block title %}Strona główna{% endblock %}
        {% block stylesheets %}{% endblock %}
{% block body %}
    {{ parent() }}

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner text-light text-center">

    <div class="carousel-item carousel-img-one active">
      <div class="carousel-text h-100 p-5 d-flex flex-column justify-content-center align-items-center"> 
          <div class="carousel-shadow"></div> 
          <p>First slide label</p>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <div class="carousel-item carousel-img-two">
      <div class="carousel-text h-100 p-5 d-flex flex-column justify-content-center align-items-center"> 
        <div class="carousel-shadow"></div> 
        <p>First slide label</p>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>

    </div>

    <div class="carousel-item carousel-img-three">
      <div class="carousel-text h-100 p-5 d-flex flex-column justify-content-center align-items-center">
        <div class="carousel-shadow"></div>
          <p>First slide label</p>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>

    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section id="cards">
  <div class="container">
    <div class="row">

      <div class="col-6 col-md-3 p-4">
        <div class="card" style="width: 18rem;">
          <div class="cards-logo d-flex justify-content-center">
            <i class="fab fa-symfony"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 p-4">
        <div class="card" style="width: 18rem;">
          <div class="cards-logo d-flex justify-content-center">
            <i class="fab fa-bootstrap"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 p-4">
        <div class="card" style="width: 18rem;">
          <div class="cards-logo d-flex justify-content-center">
            <i class="fas fa-database"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 p-4">
        <div class="card" style="width: 18rem;">
          <div class="cards-logo d-flex justify-content-center">
            <i class="fab fa-linux"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{# to do #}
<section id="skills">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="skills-head">
        Moje umiejętności
        <h1>{% trans %}symfony.is.great{% endtrans %}!</h1>
        <div class="under-line">
        </div>
      </div>
  </div>
</section>

{# to do #}
<section id="passions">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="passions-head">
        Moje Pasje
        <div class="under-line">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 d-flex justify-content-center">sdad</div>
      <div class="col-6 d-flex justify-content-center">sdad</div>
    </div>

  </div>
</section>
{% endblock %}